%h1 Bahamut Card Skill Calculator
%p
  Determine possible strategies for skilling up your card

- unless @card_levels.blank?
  = form_for :calcer, :url => start_calculate_path do |f|
    .field
      = f.label "Select card type to enhance: "
      = f.collection_select :card_level, @card_levels, :id, :name
    .field
      = f.label "Current skill: "
      = f.select :skill_level, @eligible_card_levels.collect{|level| [level, level]}
    .field
      = f.label "Target percentage"
      = f.text_field :target_percentage, :size=>4, :maxlength=>4
      \%
    .actions
      = f.submit 'Show me skill-up strategies'

= link_to "Card Tables", card_levels_path