%p
  Strategies for skilling up a 
  %b= @card_level.titleize 
  from 
  %b= @skill_level
  to 
  %b= @skill_level.to_i+1
  
- unless @calc_results.blank?
  %ul
    - @calc_results.each do |strategy|
      %li
        Strategy:
        %b= strategy[:strategy_name]
        , Skill-up percentage:
        %b= "#{strategy[:percentage]}%"
        , Guestimated HP Cost:
        %b= Calcer.skill_up_cost(strategy[:cards]).round(1)
        HP
        %ul
          - strategy[:cards].each_pair do |h, k|
            - k.each_pair do |i, m|
              - unless m.nil?
                %li
                  = "#{m[:size]} #{h.to_s.humanize.pluralize}, #{i.to_s.humanize}, #{m[:card].skill_up_percentage}% each"
              
%p
  = link_to "Home", root_path
